* {
  box-sizing: border-box;
}

.page-label {
  position: ;
  /* stays in place */
  left: 0px;
  margin-top: 40px;
  transform: translateY(50%);

  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 900;
  writing-mode: horizontal-tb;
  /* vertical text */
  text-orientation: mixed;

  opacity: 0;
  animation: slideFadeIn 1.2s ease-out forwards;
}

/* Animation */
@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translate(-20px, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

.progress {
  background-color: rgb(43, 36, 36);
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.progress_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.box {
  width: 330px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.progress_title {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  font-family: sans-serif;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}

.progress_subtitle {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}

.status {
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 0;
}

footer {
  background-color: rgb(43, 36, 36);
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.footer_header {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  font-family: sans-serif;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}


.footer:hover {
  color: yellow;
}

header {
  width: 100%;
  height: 600px;
  background-image: url("images/download (27).jpeg");
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;
}

.hero_grid {
  width: 90%;
  display: grid;
  grid-template-columns: 500px 1fr;
  margin-right: auto;
  margin-left: auto;
}

.brend {
  margin-top: 200px;
}

.massage {
  font-size: 20px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 0;
}

.brend_name {
  font-size: 50px;
  text-align: center;
  margin-top: 0;
}

.hero_title {
  text-align: center;
  padding: 0;
  margin: 0;
}

.hero_nav {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
  right: ;
}

.content {
  margin: 100px 0;
}

.content_grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin: 0 auto;
}

.content_flex {
  padding-left: 30px;
  height: 200px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 10px 30px black;
  transition: 0.5s ease-in-out;
}

.content_flex:hover {
  transform: scale(1.05);
}

.span_content {
  font-size: 30px;
  display: block;
  font-weight: 500;
  color: yellow;
  margin: 20px 0;
}

footer {
  background-color: rgb(43, 36, 36);
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
  margin-bottom: 10px;
}

.footer_header {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  font-family: sans-serif;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}

.footer_grid {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.footer_nav {
  display: flex;
  flex-direction: column;

}

.footer {
  color: white;
  font-size: 14px;
  padding-top: 20px;
  text-decoration: none;
}

.footer:hover {
  color: yellow;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  min-height: 100vh;
  color: #f5f7fa;
  background: linear-gradient(270deg, #0a1cff, #1fe762, #0a1cff);
  background-size: 600% 600%;
  animation: gradientMove 15s ease infinite;
  overflow-x: hidden;
}

@keyframes gradientMove {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@media (max-width:1024px) {
  .page-label {
    font-size: 25px;
  }

  .hero_grid {
    grid-template-columns: 400px 1fr;
  }

  .hero_nav {
    width: 90%;
  }

  .content_flex {
    height: 150px;
  }

  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width:768px) {
  .hero_grid {
    grid-template-columns: 200px 1fr;
  }

  .hero_nav {
    width: 90%;
  }

  .massage {
    font-size: 16px;
    letter-spacing: 5px;
  }

  .brend_name {
    font-size: 35px;
  }

  .content_flex {
    height: 100px;
  }

  .span_content {
    font-size: 20px;
    margin: 10px 0;
  }

  .progress {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .progress_subtitle {
    font-size: 25px;
  }

  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer {
    padding-top: 5px;
  }
}

@media (max-width:360px) {
  .page-label {
    font-size: 16px;
    letter-spacing: 0px;
    margin: 40px 0;
  }

  .hero_nav {
    width: 100%;
    margin: 3px 0;
    padding-top: 30px;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 10px;
  }

  .hero_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr;
    margin: 30px 0;
  }

  .hero_title {
    text-align: left;
  }

  .massage {
    font-size: 14px;
    letter-spacing: 0px;

  }

  .brend_name {
    font-size: 25px;
  }

  .content_flex {
    height: 100px;
  }

  .span_content {
    font-size: 16px;
    margin: 10px 0;
  }

  .progress {
    background-color: rgb(43, 36, 36);
    border-radius: 10px;
    padding: 20px 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .progress_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .box {
    width: 330px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .progress_title {
    font-size: 16px;
    font-weight: bold;
    color: yellow;
    font-family: sans-serif;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .progress_subtitle {
    font-size: 22px;
    font-weight: 500;
  }

  footer {
    padding: 40px 0px;
  }

  .footer_grid {
    width: 90%;
  }

}