* {
  box-sizing: border-box;
}

.page-label {
  margin-top: 40px;
  transform: translateY(50%);

  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 900;
  writing-mode: horizontal-tb;
  /* vertical text */
  text-orientation: mixed;

  opacity: 0;
  animation: slideFadeIn 1.2s ease-out forwards;
}

/* Animation */
@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translate(-20px, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

.progress {
  background-color: rgb(43, 36, 36);
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.progress_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.box {
  width: 330px;
  height: 100px;
  margin: 0 auto;}

.progress_title {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  font-family: sans-serif;
  margin: 0;
  padding: 5px 0 15px 0;
}

.progress_subtitle {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}

.status {
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
  padding-top: 5px 0 0 0;
}
/* SHow and hide */
.review-card {
  /* background: #f2f2f7; */
  /* padding: 20px; */
  border-radius: 18px;
}

.review-card p {
  font-size: 14px;
  color: #ffffff;
  line-height: 1.4;
}

.review-card a {
  color: #007aff;
  text-decoration: none;
}

/* .review-card .name {
  margin-top: 12px;
  font-size: 13px;
  color: gray;
} */


.more-btn {
  background: none;
  border: none;
  color: #007aff;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
  margin-top: 5px;
}

.more-btn:hover {
  text-decoration: underline;
}

.review-text {
  transition: 0.3s ease;
}

/* end */




.footer:hover {
  color: yellow;
}



header {
  width: 100%;
  height: 600px;
  background-image: url("image/download (27).jpeg");
  background-position: center;
  background-size: cover;
}

.hero_grid {
  width: 90%;
  display: grid;
  grid-template-columns: 500px 1fr;
  margin: 0 auto;
}

.brend {
  margin-top: 200px;
}

.massage {
  font-size: 20px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 0;
}

.brend_name {
  font-size: 50px;
  text-align: center;
  margin-top: 0;
}

.hero_title {
  text-align: center;
  padding: 0;
  margin: 0;
}

.hero_nav {
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.content {
  margin: 100px 0;
}

.content_grid {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin: 40px auto;
}

/* content-title */
.content-title {
  margin: 100px 0 40px 155px;
  color: white;
  transform: translateY(50%);
  font-weight: 900;
  writing-mode: horizontal-tb;
  /* vertical text */
  text-orientation: mixed;
  opacity: 0;
  animation: slideFadeIn 1.2s ease-out forwards;
}

/* Animation */
@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translate(-20px, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

/* shot reviews  */
.content_flex {
  padding-left: 30px;
  height: 200px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 10px 30px black;
  transition: 0.5s ease-in-out;
}

.content_flex:hover {
  transform: scale(1.05);
}

.span_content {
  font-size: 30px;
  display: block;
  font-weight: 500;
  color: yellow;
  margin: 20px 0;
}

/* end */

/* long reviews  */
.long_content {
  padding-left: 30px;
  margin: 40px auto;
  width: 80%;
  height: 200px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 10px 30px black;
  transition: 0.5s ease-in-out;
}

.long_content:hover {
  transform: scale(1.05);
}

/* end */


footer {
  background-color: rgb(43, 36, 36);
  border-radius: 10px;
  padding: 100px 0;
  margin: 100px 0 10px 0
}

.footer_header {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  font-family: sans-serif;
  margin: 0;
  padding: 5px 0 15px 0;
}

.footer_grid {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin: 0 auto;
}

.footer_nav {
  display: flex;
  flex-direction: column;

}

.footer {
  color: white;
  font-size: 14px;
  padding-top: 20px;
  text-decoration: none;
}

.footer:hover {
  color: yellow;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  min-height: 100vh;
  color: #f5f7fa;
  background: linear-gradient(270deg, #0a1cff, #1fe762, #0a1cff);
  background-size: 600% 600%;
  animation: gradientMove 15s ease infinite;
  overflow-x: hidden;
}

@keyframes gradientMove {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@media (max-width:1024px) {
  .page-label {
    font-size: 25px;
  }

  .hero_grid {
    grid-template-columns: 400px 1fr;
  }

  .hero_nav {
    width: 90%;
  }

  .content_flex {
    height: 220px;
  }

  .long_content {
    height: 220px;
  }

  footer {
    padding: 50px 0;
  }

  .footer {
    padding: 5px;
    width: 90%;
  }
}

@media (max-width:768px) {
  .hero_grid {
    grid-template-columns: 200px 1fr;
  }

  .hero_nav {
    width: 90%;
  }

  .massage {
    font-size: 16px;
    letter-spacing: 5px;
  }

  .brend_name {
    font-size: 39px;
  }

  .content_flex {
    height: 180px;
    width: 750px;
  }

  .content_grid {
    margin: 0;
    display: block;
  }

  .long_content {
    margin: 0;
    width: 750px;
  }

  .content-title {
    margin: 80px 0 0;
  }

  .progress {
    padding: 10px 0;
    margin: 100px 0;
  }

  footer {
    padding: 30px 0
  }
}

@media (max-width:360px) {
  header {
    margin-top: -50px;
  }

  .page-label {
    font-size: 16px;
    letter-spacing: 0px;
    margin: 40px 0;
  }

  .hero_nav {
    width: 100%;
    margin: 3px 0;
    padding-top: 30px;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 10px;
  }

  .hero_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr;
    margin: 30px 0;
  }

  .hero_title {
    text-align: left;
  }

  .massage {
    font-size: 14px;
    letter-spacing: 0px;

  }

  .brend_name {
    font-size: 25px;
  }

  .span_content {
    font-size: 16px;
    margin: 10px 0;
  }



  .content_grid {
    display: block;
    margin: 0;
  }

  .content_flex {
    height: 200px;
    width: 345px;
    padding: 10px 10px;
    margin-top: 20px;
  }

  .long_content {
    height: 250px;
    width: 345px;
    padding: 10px 10px;
    margin-top: 20px 0 0;
  }

  .progress {
    margin: 0;

  }

  .progress_grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .box {
    width: 330px;
    height: 100px;
    margin: 0 auto;
  }

  .progress_title {
    font-size: 16px;
    margin: 0;
    padding: 5px o 15px 0;
   
  }

  .progress_subtitle {
    font-size: 18px;
    font-weight: 100;
  }

  footer {
    padding: 40px 0px;
    margin: 50px 0 0;
  }
}