/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Inter:opsz,wght@14..32,100..900&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}


.container.swiper {
  overflow: hidden;
  /* width: 100%; */
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
  /* position: relative; */
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto;
}

.swiper-slide .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  display: flex;
  justify-content: center;
}


.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  border: 2px solid transparent;
  background: #fff;
  padding: 12px;
  border-radius: 18px;
  text-decoration: none;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: #5372F0;
}


.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #5732F0;
  background: #DDE4FF;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 8px 16px;
  margin: 16px 0 18px;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .badge.two {
  color: #02c021;
  background: #c0faca;
}

.card-list .card-link .badge.three {
  color: #b60202;
  background: #ffbfbf;
}

.card-list .card-link .badge.four {
  color: #b65c03;
  background: #ffe0c2;
}

.card-list .card-link .badge.five {
  color: #c9c507;
  background: #fffd90;
}

.card-list .card-link .badge.six {
  color: #b30d0d;
  background: #ffc8c8;
}

.card-list .card-link .badge.seven {
  color: #05afa7;
  background: #c3f5f2;
}

.card-list .card-link .badge.eight {
  color: #cf0707;
  background: #ffc1e0;
}

.card-list .card-link .badge.nine {
  color: #c003b7;
  background: #fab1f6;
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  color: #5372F0;
  border: 2px solid #5372F0;
  cursor: pointer;
  transform: rotate(-45deg);
  transition: 0.3s ease;
}

.card-list .card-link:hover .card-button {
  background: transparent;
  color: white;
  background: #5372F0;
}

.card-list {
  padding: 0;
  margin: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: #5372F0;
  transform: translateY(1220%);
}

.swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background-color: #ffffff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #007BFF;
}

header {
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
}

.hero_grid {
  width: 90%;
  display: grid;
  grid-template-columns: 500px 1fr;
  margin-right: auto;
  margin-left: auto;
}

.brend {
  margin-top: 200px;
}

.massage {
  font-size: 20px;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 0;
}

.brend_name {
  font-size: 50px;
  text-align: center;
  margin-top: 0;
}

.hero_title {
  text-align: center;
  padding: 0;
  margin: 0;
}

.hero_nav {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.progress {
  background-color: rgb(43, 36, 36);
  border-radius: 10px;
  padding: 50px 0;
  margin: 200px 0;
}

.progress_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

.box {
  width: 330px;
  height: 100px;
  margin: 0 auto;
}

.box_with_logo {
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.progress_title {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  font-family: sans-serif;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 15px;
}

.progress_subtitle {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}

.status {
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 0;
}

.logo_grid {
  width: 30%;
  display: grid;
  flex-direction: row;
  justify-content: space-between;
}

.logo_box {
  width: 30%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition: box-shadow 0.3 ease all;
  margin: 35px auto;
}

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* box-shadow: 0px 0 5px yellow,
    0px 0 5px yellow; */
}

.logo:hover {
  transform: translateY(-15px);
  /* box-shadow: 0px 0px 25px yellow,
    0px 0px 50px yellow;*/
  transition: 1s ease all;
}



footer {
  background-color: rgb(43, 36, 36);
  border-radius: 10px;
  padding: 100px 0;
  margin: 100px 0 10px 0
}

.footer_header {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  font-family: sans-serif;
  margin: 0;
  padding: 5px 0 15px 0;
}

.footer_grid {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin: 0 auto;
}

.footer_nav {
  display: flex;
  flex-direction: column;

}

.footer {
  color: white;
  font-size: 14px;
  padding-top: 20px;
  text-decoration: none;
}

.footer:hover {
  color: yellow;
}

.page-label {
  margin-top: 40px;
  transform: translateY(50%);

  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 900;
  writing-mode: horizontal-tb;
  /* vertical text */
  text-orientation: mixed;

  opacity: 0;
  animation: slideFadeIn 1.2s ease-out forwards;
}

/* Animation */
@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translate(-20px, -50%);
  }

  100% {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  min-height: 100vh;
  color: #f5f7fa;
  background: linear-gradient(270deg, #0a1cff, #1fe762, #0a1cff);
  background-size: 600% 600%;
  animation: gradientMove 15s ease infinite;
  overflow-x: hidden;
}



@keyframes gradientMove {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width:1024px) {
  .page-label {
    font-size: 25px;
  }

  .hero_grid {
    grid-template-columns: 400px 1fr;
  }

  .hero_nav {
    width: 90%;
  }

  footer {
    padding: 50px 0;
  }

  .footer {
    padding: 5px;
    width: 90%;
  }
}

@media screen and (max-width:768px) {
  .swiper-wrapper {
    margin: 0 10px 25px;
  }
  .swiper-pagination{
   display: none;
  }

  .swiper-slider .slider-button {
    display: none;
  }

  .container.swiper {
    margin: 10px 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }


  .hero_grid {
    grid-template-columns: 200px 1fr;
  }

  .hero_nav {
    width: 90%;
    margin-left: 70px;
  }

  .massage {
    font-size: 14px;
    letter-spacing: 5px;
  }

  .brend_name {
    font-size: 39px;
  }

  .progress {
    padding: 10px 0;
    margin: 100px 0;
  }

  footer {
    padding: 20px 20px;
    margin: 30px 0 0;
  }

  .footer_grid {
    width: 100%;
    column-gap: 30px;
    margin: 0;
  }

  .footer {
    font-size: 13px;
  }
}

@media (max-width:360px) {
  header {
    margin-top: -50px;
  }

  .page-label {
    font-size: 16px;
    letter-spacing: 0px;
    margin: 40px 0;
  }

  .hero_nav {
    width: 100%;
    margin: 3px 0;
    padding-top: 30px;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 10px;
  }

  .hero_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr;
    margin: 30px 0;
  }

  .hero_title {
    text-align: left;
  }

  .massage {
    font-size: 14px;
    letter-spacing: 0px;

  }

  .brend_name {
    font-size: 25px;
  }

  .progress {
    margin: 0;

  }


  .progress_grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }

  .box {
    width: 330px;
    height: 100px;
    margin: 0 auto;
  }

  .progress_title {
    font-size: 16px;
    margin: 0;
    padding: 5px o 15px 0;
  }

  .progress_subtitle {
    font-size: 18px;
    font-weight: 100;
  }

  footer {
    padding: 20px 10px;
    margin: 30px 0 0;
  }

  .footer_grid {
    width: 100%;
    column-gap: 30px;
    margin: 0;
  }

  .footer {
    font-size: 10px;
  }
}